<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    load balancing = false; ha events = false;の記述が無いとOracleClientが
    内部でOracleInternal.NotificationServices.ONSExceptionを出してしまうのでその対応
    -->
    <add key="ConnectionStrings" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.10.5)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = higenekodb01.centos8.higeneko.ne.jp))); USER ID = higeneko01; PASSWORD = higeneko01; load balancing = false; ha events = false;" />
    <add key="SystemLanguage" value="ja-JP" />
    <add key="DefaultFont" value="Rounded-L Mgen+ 1m regular" />
  </appSettings>
</configuration>